input[type=text] {
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button[type=submit] {
    padding: 10px 15px;
    margin: 8px 0;
    box-sizing: border-box;
}