.TabList {
    background-color: #F1DAC4;
    min-height: 60px;
    list-style: none;
}

.Tab {
    float: left;
    padding: 20px;
    color: #283F3B;
}

.Tab:focus {
    background-color: #283F3B;
    color: #F1DAC4;
}

.TabPanel {
    padding: 20px;
    align-items: center;
}