<!-- This the html file to describe the conformation page after the playlist has been created. -->
<!-- Simmer The Toad -->
<!-- Joseph Dammeyer & ... --> <!-- Add your name here if you edit -->
<!-- Spring 2023-->


<!doctype html>
<html class="no-js" lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Playlist Finished</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <script src="{{ url_for('static', filename='index.js') }}" async> </script>
</head>

<body>
    <header>
        <a href="/"> Homepage <br> </a> 
        <a href="/login"> Login <br> </a> 
        <a href="/about"> About </a>
    </header>


    <h1> Playlist has been created!</h1>
    <p>To view it clink on the link below (that doesn't go anywhere yet).</p>
    <a href="#!"> Spotify Playlist </a> <br>

</body>

</html>